@model IEnumerable<LockhoodApp.Models.WorkTask>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

    <p><a class="btn btn-success" href="@Url.Action("Index","EmployeeTasks")">Employee Tasks</a></p>
</div>
@if (TempData["AlertMessage"] != null)
{
    <div class="aleart alert-danger">
        @TempData["AlertMessage"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expectedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderSale.salesID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.startingDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.expectedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderSale.salesID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.type)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
    }

</table>

